/* Classi generiche */

.gv-max-width {
	max-width: 500px;
}

.gv-compact-width {
	max-width: 300px;
}

.gv-btn-width {
	width: 170px;
}

.gv-md-btn-width {
	width: 120px;
}

.gv-chk-width {
	width: 45px;
}

.gv-input-width-sm {
  width: 100px;
}

.no-focus:focus {
  outline: none;
  box-shadow: none;
}

/* Accordion */

#accordion .card-header:after {
  font-family: 'FontAwesome';  
  content: "\f068";
  float: right; 
}
#accordion .card-header.collapsed:after {
  content: "\f067"; 
}

/* Casella di ricerca */

#ge-search {
  width: 160px;
}

#ge-search label {
  position: absolute;
  left: 10;
  top: 12;
}

#ge-searchbox {
  border: 1px solid #ccc;
  border-radius: 23px;
  font-size: 12px;
  height: 27px;
  padding: 0px 0px 0px 30px;
}

#ge-searchbox:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

#gv-search-aligned-button {
  position: relative;
  top: 6px;
}

/* Classi specifiche gioco */

:root {
  --points-box-size: 200px;
}

#gv-points {
  margin: 50px auto 20px auto;
  width: var(--points-box-size);
  height: var(--points-box-size);
  background: #fcce18;
}

#gv-points-inner {
  width: calc(var(--points-box-size) - 20px);
  height: calc(var(--points-box-size) - 20px);
  line-height: calc(var(--points-box-size) - 20px);
  margin-top: 10px;
  margin-left: 10px;
  z-index: 100;
}