<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Gioco dei volontari - Credenziali</title>
  </head>
  <body>
      <p>Salve volontari!</p>
      <p>Quest'anno vogliamo testare la vostra fortuna. Quanti di voi ne avranno avuto bisogno durante le innumerevoli partite ad un gioco da tavolo, o peggio ancora cercando di colpire un drago durante una sessione di D&D?</p>
      <p>Ebbene, per mettervi alla prova abbiamo creato la Ruota della Vanvera! Questo temibile marchingegno vi permetterà di sfidare la sorte. Ogni giorno inizierete con {{STARTING_POINTS}} e potrete rischiarli contro la terribile ruota.
         Ma non dovrete affrontarla da soli, bensì dovrete cercare dei compagni portafortuna! Una volta scelto un volontario con cui fronteggiare la sfida, dovrete decidere insieme quanti punti giocare, inserire entrambi la scelta nel gioco e poi girare tutti e due la ruota.
         Solo che il vostro punteggio non sarà influenzato dal vostro risultato, bensì da quello ottenuto dall'altro volontario! E attenzione: se userete sempre lo stesso portafortuna, la fortuna di quel compagno si scaricherà e la ruota sarà meno favorevole nei vostri confronti.</p>
      <p>Per giocare dovrete innanzitutto accedere all'indirizzo <a href="https://giocovolontari.giocaosta.it">https://giocovolontari.giocaosta.it</a> con queste credenziali:</p>
      <p>
        <div>Username: {{USERNAME}}</div>
        <div>Password preassegnata: {{DEFAULT_PWD}}</div>
      </p>
      <p>
         Le giornate saranno divise in periodi di {{ATTEMPTS_WAIT}} e durante ognuno di essi potrete effettuare un solo tentativo. Alla fine dei giorni di gioco verranno premiate 3 persone: quella con più punti, quella che ha portato più fortuna ai propri compagni e quella che invece avrà portato più sfortuna.
      </p>
         Che dire, dal vostro Mike Bonpiccione è tutto.<br/>BUONA FORTUNA!
      </p>
  </body>
</html>